{{#if banners.bottom}}
<div class="banners" data-banner-location="bottom">
    <div class="banner">
        {{{limit banners.bottom 1}}}
    </div>
</div>
{{/if}}
<footer class="footer cf" role="contentinfo">
    <div class="container">



        <div class="footer-inside-container">

            <article class="footer-info-col footer-subscription" data-section-type="newsletterSubscription">
                {{#if settings.show_newsletter_box}}
                    {{> components/common/subscription-form}}
                {{/if}}
            </article>

            <div class="social-icons">
                <h4>FOLLOW US</h4>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/beautybridge" target="_blank">
                            <img src="assets/img/facebook.png" alt="facebook">
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/beautybridge" target="_blank">
                            <img src="assets/img/twitter.png" alt="twitter">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.pinterest.com/beautybridge/" target="_blank">
                            <img src="assets/img/pinterest.png" alt="pinterest">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/beautybridge/" target="_blank">
                            <img src="assets/img/instagram.png" alt="instagram">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/c/BeautyBridge" target="_blank">
                            <img src="assets/img/youtube.png" alt="youtube">
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+BeautyBridge/posts" target="_blank">
                            <img src="assets/img/googleplus.png" alt="googleplus">
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.beautybridge.com/" target="_blank">
                            <img src="assets/img/last-social.png" alt="blog">
                        </a>
                    </li>
                </ul>
            </div>

            <div class="contact-us">
                <h4>Contact Us</h4>
                <p><a href="mailto:customercare@beautybridge.com">customercare@beautybridge.com</a> <span class="mob-tab-break"></span>or by phone <a href="tel+8668306161">1-866-830-6161</a></p>
                <ul>
                    <li><a href="/about-us/">About</a></li>
                    <li><a href="/contact-us/">Contact</a></li>
                    <li><a href="">Policies</a></li>
                    <li><a href="">Affiliates</a></li>
                </ul>
            </div>


        </div>

        <div class="copyright">
            <ul>
                <li><a href="/about-us/">About Us</a></li>
                <li><a href="/contact-us/">Customer Care</a></li>
                <li><a href="">Policies</a></li>
                <li><a href="">Affiliate Program</a></li>
            </ul>
            <p>Copyright © 2016 BeautyBridge<span class="mobile-break"></span><a href="www.diztinct.com/bigcommerce-design.html" target="_blank">Ecommerce Design</a> by Diztinct.com</p>
        </div>
        
    </div>
</footer>
