<nav class="navPages">   
    <ul class="navPages-list">
        {{#each categories}}
            <li class="navPages-item">
                {{> components/common/navigation-list}}
            </li>
        {{/each}}
    </ul>
    {{#if customer}}
        <ul class="navPages-list navPages-list--user">
            <li class="navPages-item">
                <a class="navPage-subMenu-action navPages-action" href="/account.php">My Account</a>
            </li>
            <li class="navPages-item">
                <a class="navPages-action" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
            </li>
            <li class="navPages-item">
                <a class="navPage-subMenu-action navPages-action" href="">Rewards</a>
            </li>                        
            <li class="navPages-item">
                <a class="navPage-subMenu-action navPages-action" href="/contact-us/">Contact Us</a>
            </li>

        </ul>
    {{else}}
        <ul class="navPages-list navPages-list--user">
            <li class="navPages-item">
                <a class="navPage-subMenu-action navPages-action" href="/account.php">My Account</a>
            </li>
            <li class="navPages-item">
                <a class="navPages-action" href="{{urls.auth.login}}">{{lang 'common.login'}}</a> OR <a class="navPages-action" href="{{urls.auth.create_account}}">{{lang 'common.sign_up'}}</a>
            </li>
            <li class="navPages-item">
                <a class="navPage-subMenu-action navPages-action" href="">Rewards</a>
            </li>                        
            <li class="navPages-item">
                <a class="navPage-subMenu-action navPages-action" href="/contact-us/">Contact Us</a>
            </li>
        </ul>
    {{/if}}
</nav>
