---

recently_viewed: true

products:
    new:
        limit: 12
    featured:
        limit: 12
    top_sellers:
        limit: 12
    recently_viewed:
        true

blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}

suggested_products:
    limit: 5

---

{{#partial "page"}}

    {{#each shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}

<div class="main full home-page">

    <!-- DESKTOP SLIDER -->
    <div class="desktop-slider">
        <!-- FIRST DESK SLIDE -->
        <div class="desk-slide-one">
            <a href="">
            </a>
        </div>
        <!-- SECOND DESK SLIDE -->
        <div class="desk-slide-two">
            <a href="">
            </a>
        </div>
        <!-- THIRD DESK SLIDE -->
        <div class="desk-slide-three">
            <a href="">
            </a>
        </div>
    </div>

    <!-- MOBILE SLIDER -->
    <div class="mobile-slider">
        <!-- FIRST MOBILE SLIDE -->
        <div class="mobile-slide-one">
            <a href="">
            </a>
        </div>
        <!-- SECOND MOBILE SLIDE -->
        <div class="mobile-slide-two">
            <a href="">
            </a>
        </div>
        <!-- THIRD MOBILE SLIDE -->
        <div class="mobile-slide-three">
            <a href="">
            </a>
        </div>
    </div>

    <div class="olapic-wrap">
        <div class="olapic-text cf">
            <!-- <h3 class="olapic-bb">#BEAUTYBRIDGE</h3> -->
            <img src="/content/img/hashtag-beautybridge.png" alt="">
            <h3 class="show-us">Show us how you own it</h3>
            <p>Wear, share & show us how you #beautybridge.</p>
        </div>
        <div id="olapic_specific_widget"></div><script type="text/javascript" src="https://photorankstatics-a.akamaihd.net/81b03e40475846d5883661ff57b34ece/static/frontend/latest/build.min.js"  data-olapic="olapic_specific_widget" data-instance="18f576354e5290e12f0f8dd380532314" data-apikey="c8d32af7a5848379872b931655c849bffa25d283a9d4b300435aa1dfd8aa18f1" async="async"></script>
    </div>

    <div class="featured-brands">
        <h4>FEATURED BRANDS</h4>
        <a class="see-more" href="/brands/">ALL BRANDS</a>
        <ul>
            <li>
                <a href="/brands/babor">
                    <img src="{{cdn "webdav:img/feat-brands1.jpg"}}" alt="">
                </a>
            </li><li>
                <a href="/brands/becca-cosmetics">
                    <img src="{{cdn "webdav:img/feat-brands2.jpg"}}" alt="">
                </a>
            </li><li>
                <a href="/brands/philosophy">
                    <img src="{{cdn "webdav:img/feat-brands3.jpg"}}" alt="">
                </a>
            </li><li>
                <a href="/brands/exuviance">
                    <img src="{{cdn "webdav:img/feat-brands4.jpg"}}" alt="">
                </a>
            </li><li>
                <a href="/brands/thebalm">
                    <img src="{{cdn "webdav:img/feat-brands5.jpg"}}" alt="">
                </a>
            </li><li>
                <a href="/brands/borghese">
                    <img src="{{cdn "webdav:img/feat-brands6.jpg"}}" alt="">
                </a>
            </li><li>
                <a href="/brands/dermablend">
                    <img src="{{cdn "webdav:img/feat-brands7.jpg"}}" alt="">
                </a>
            </li><li>
                <a href="/brands/lippmann-collection">
                    <img src="{{cdn "webdav:img/feat-brands8.jpg"}}" alt="">
                </a>
            </li>
        </ul>
    </div>

    <div class="mobile-cat-banners">
        <div class="banner-one">
            <a href="">
                <!-- <img src="/content/img/mob-banner-1.jpg" alt=""> -->
            </a>
        </div>
        <div class="banner-two">
            <a href="">
                <!-- <img src="/content/img/mob-banner-2.jpg" alt=""> -->
            </a>
        </div>
        <div class="banner-three">
            <a href="">
                <!-- <img src="/content/img/mob-banner-3.jpg" alt=""> -->
            </a>
        </div>
    </div>

    <div class="category-banner cf">
        <div class="banner-one">
            <a href="">
            <!-- <img src="/content/img/bb-home-new-1.jpg" alt="Free Samples"> -->
            </a>    
        </div>
        <div class="banner-two">
            <a href="">
                <!-- <img src="/content/img/bb-home-new-2.jpg" alt="Clearance"> -->
            </a>    
        </div>
        <div class="banner-three">
            <a href="">
                <!-- <img src="/content/img/bb-home-new-3.jpg" alt="Free Gift"> -->
            </a>    
        </div>
    </div>

    
    {{#if products.top_sellers}}
        <div class="top-products">
            {{> components/products/top products=products.top_sellers columns=theme_settings.homepage_top_products_column_count}}
        </div>
    {{/if}}
    
    {{#if products.new}}
        <div class="new-products">
            {{> components/products/new products=products.new columns=theme_settings.homepage_new_products_column_count}}
        </div>
    {{/if}}

    <script>

        dataLayer = [{
          'pageType': 'home',
          'pageTitle': 'home'
        }];
           
    </script>



</div>
{{/partial}}
{{> layout/base}}
