{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<main class="page info-page">

    <h1 class="page-heading">{{ page.title }}</h1>

    {{#if page.sub_pages}}
    <nav class="navBar navBar--sub">
        <ul class="navBar-section account-navigation">
        {{#each page.sub_pages}}
            <li class="navBar-item"><a class="navBar-action" href="{{url}}">{{title}}</a></li>
        {{/each}}
        </ul>
    </nav>
    {{/if}}

    <div class="page-content page-content--centered">
        {{#replace '%%Syndicate%%' page.content}}
            {{> components/page/rss_feed}}
        {{else}}
            <p>{{{page.content}}}</p>
        {{/replace}}

         <div class="about-us-olapic">
            <div id="olapic_specific_widget"></div><script type="text/javascript" src="https://photorankstatics-a.akamaihd.net/81b03e40475846d5883661ff57b34ece/static/frontend/latest/build.min.js"  data-olapic="olapic_specific_widget" data-instance="9e6a094d0fdae841cc73760f9b7feb96" data-apikey="c8d32af7a5848379872b931655c849bffa25d283a9d4b300435aa1dfd8aa18f1" async="async"></script>
        </div>
        
    </div>

    {{#if page.feed}}
        <ul>
            {{#each page.feed}}
                <li>
                    <h6><a href="{{url}}" target="_blank">{{title}}</a></h6>
                    <p>{{content}}</p>
                </li>
            {{/each}}
        </ul>
    {{/if}}

   

</main>

{{/partial}}

{{> layout/base}}
