---

recently_viewed: true



product:
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}


---
{{#partial "page"}}

    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

    {{#each product.shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}

    <div itemscope itemtype="http://schema.org/Product">
        {{> components/products/product-view schema=true}}

        {{#if settings.show_product_reviews}}
            {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
        {{/if}}

    </div>

    <div class="q-and-a">
        <h4>Questions & Answers</h4>
        <a href=""><img src="{{cdn "webdav:img/question-mark.png"}}" alt="">Ask a Question</a>
    </div>

    <div class="pdProductReviewContent" productId="{{product.id}}">
        {{product.warranty}}
    </div>

    <!-- {{ customer.recently_viewed_products }}

    {{#if customer}}

        <div class="recently-viewed">
            <h4>Recently Viewed</h4>
            <ul class="productGrid">
                {{#each recently_viewed.product}}
                    <li class="product">
                        {{> components/products/card hide_product_quick_view=true theme_settings=../theme_settings}}
                    </li>
                {{/each}}
            </ul>
        </section>

        <div class="recently-viewed">
            <h4>Recently Viewed</h4>
            <ul class="productGrid">
                {{#each product.recently_viewed}}
                    <li class="product">
                        {{> components/products/card hide_product_quick_view=true theme_settings=../theme_settings}}
                    </li>
                {{/each}}
            </ul>
        </section>

        <div class="recently-viewed">
            <h4>Recently Viewed</h4>
            <ul class="productGrid">
                {{#each products.recently_viewed}}
                    <li class="product">
                        {{> components/products/card hide_product_quick_view=true theme_settings=../theme_settings}}
                    </li>
                {{/each}}
            </ul>
        </section>

    {{else}} -->
                    
    <div class="related-products">
        <h4>Related Products</h4>
        <!-- {{> components/products/related-carousel products=products.related_products columns=5}} -->
        <ul class="productGrid">
             {{#each product.related_products}}
                <li>
                    {{> components/products/related-card theme_settings=../theme_settings}}
                </li>
            {{/each}}
        </ul>
    </div>

    <!-- {{/if}} -->
   
{{/partial}}
{{> layout/base}}
