---

recently_viewed: true

product:
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: 10
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}


---
{{#partial "page"}}

    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

    {{#each product.shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}

    <div itemscope itemtype="http://schema.org/Product">
        {{> components/products/product-view schema=true}}

        {{#if settings.show_product_reviews}}
            {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
        {{/if}}

    </div>

    <div class="q-and-a">
        <h4>Questions & Answers</h4>
        <a href=""><span class="question-mk"></span>Ask a Question</a>
    </div>

    <div class="pdProductReviewContent" productId="{{product.id}}">
        {{{ product.warranty }}}
    </div>

    <div class="related-products">
        <h2 class="page-heading">You May Also Like</h2>
        {{> components/products/carousel products=product.related_products columns=6}}
    </div>
   
{{/partial}}
{{> layout/base}}
