// =============================================================================
// Stencil Checkout  - Customize the checkout experience
// =============================================================================

#maintenance_notice{
	display:none;
}

@media only screen and (min-width: 300px) {

	span.Logo1stWord{
		text-indent: -999px;
		display: block;
		font-size: 0px;
		background: url('../../content/img/beautybridge-logo.png');
		height: 15px;
		width: 220px;
		margin: 0 auto;
	}

}

@media only screen and (min-width: 600px) {

	span.Logo1stWord{
		text-indent: -999px;
		display: block;
		font-size: 0px;
		background: url('../../content/img/beautybridge-logo.png');
		height: 30px;
		width: 440px;
		margin: 0 auto;
	}

}