<!DOCTYPE html>
<html class="no-js">
    <head>
        <title>{{ head.title }}</title>
        {{{ head.meta_tags }}}
        {{{ head.config }}}
        {{#block "head"}} {{/block}}

        <link href="{{ head.favicon }}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">



        {{{stylesheet '/assets/css/theme.css'}}}
        {{ getFontsCollection }}
        <script src="{{cdn '/assets/modernizr-custom.js'}}"></script>

        {{{head.scripts}}}
        {{{head.rsslinks}}}

        {{inject 'themeImageSizes' theme_settings._images}}
        {{inject 'genericError' (lang 'common.generic_error')}}
        {{inject 'maintenanceMode' settings.maintenance}}
        {{inject 'urls' urls}}
        {{{snippet 'htmlhead'}}}
        <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/content/diztinct.css" type='text/css'>
        <link rel="stylesheet" href="/content/responsive-tables.css" type='text/css'>

        <!-- MULTI LEVEL MENU CSS -->
        <link rel="stylesheet" href="/content/dl-menu-default.css" type='text/css'>
        <link rel="stylesheet" href="/content/dl-menu-component.css" type='text/css'>

        <!-- celebros css & js -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js"></script>
        <script type="text/javascript" src="//BeuBridge-ac.celebros.com/AutoComplete/Scripts/CelebrosAutoCompleteV3c.js"></script>  
        <link type='text/css' rel="stylesheet" href="/content/celebros-ac.css">

    </head>
    <body>

        <!-- ************************************** -->
        <!-- ********* START PD TAGGING *********** -->
        <!-- ************************************** -->
        <div id="pdPageTag" style="display:none" productId="{{product.id}}" productCode="{{product.sku}}" categoryId="{{category.id}}"></div>
        <!-- *************************************** -->
        <!-- ********* FINISH PD TAGGING *********** -->
        <!-- *************************************** -->

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PX4B69"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PX4B69');</script>
        <!-- End Google Tag Manager -->

        {{{snippet 'header'}}}
        <div class="icons-svg-sprite">{{> components/common/icons/icon-defs }}</div>

        {{#if settings.privacy_cookie}}
            {{> components/common/cookie}}
        {{/if}}

        {{> components/common/header }}
        {{> components/common/body }}
        {{> components/common/footer }}

        <!-- ********************************************************** -->
        <!-- ********* START PD INTEGRATION SCRIPT *********** -->
        <!-- ********************************************************** -->
        <script type="text/javascript">
        function pdInit() {
            var cb = (new Date()).getTime();
            var scriptUrl = "https://dev-beautybridge.practicaldatacore.com/mod_bigcommerce/services/pageScript.php";
            scriptUrl += "?cb=" + cb;
            scriptUrl += "&productId=" + encodeURIComponent(document.getElementById("pdPageTag").getAttribute("productId"));
            scriptUrl += "&productCode=" + encodeURIComponent(document.getElementById("pdPageTag").getAttribute("productCode"));
            scriptUrl += "&categoryId=" + encodeURIComponent(document.getElementById("pdPageTag").getAttribute("categoryId"));
            var scriptElement=document.createElement('script');
            scriptElement.setAttribute("type","text/javascript");
            scriptElement.setAttribute("src", scriptUrl);
            document.body.appendChild(scriptElement);
        };
        pdInit();
        </script>
        <!-- *********************************************************** -->
        <!-- ********* FINISH PD INTEGRATION SCRIPT *********** -->
        <!-- *********************************************************** -->

        <script>
            function startupApp(stencilBootstrap) {
                stencilBootstrap("{{template_file}}", {{jsContext}}).load();
            }
        </script>

        {{#if in_production}}
            <script src="{{cdn '/assets/js/bundle.js'}}"></script>
            <script>
                startupApp(stencilBootstrap);
            </script>
        {{else}}
            <script src="{{cdn '/assets/jspm_packages/system.js'}}"></script>
            <script src="{{cdn '/assets/config.js'}}"></script>
            <script src="{{cdn '/assets/js/dependency-bundle.js'}}"></script>
            <script>
                System.import("js/app").then(function(){ startupApp(stencilBootstrap)});
            </script>
        {{/if}}
        {{{footer.scripts}}}
        {{{snippet 'footer'}}}
        <script src="/content/diztinct.js"></script>
        <script src="/content/responsive-tables.js"></script>

        
        
        <script src="/content/modernizr.custom.js"></script>
        <script src="/content/jquery.dlmenu.js"></script>
        <script>
            $(function() {
                $( '#dl-menu' ).dlmenu({
                    animationClasses : { classin : 'dl-animate-in-2', classout : 'dl-animate-out-2' }
                });
            });
        </script>
        

    </body>
</html>
